node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

.idea
ignition/deployments/*/build-info
ignition/deployments/*/artifacts
ignition/deployments/*/journal.jsonl
